* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.in-but button:hover {
  color: #EA6852;
}

body h1 {
  font-size: 32px;
}

body h2 {
  font-size: 28px;
}

body h2 a {
  font-weight: 500;
  font-style: normal;
}

main a {
  color: gray;
  font-style: italic;
}

main a:hover {
  color: #EA6852;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

@media (min-width: 200px) {
  .movil .nav-top {
    height: 110px;
    padding: 15px;
    border-bottom: 0.5px solid #979797;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .movil .nav-top .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: logo;
            animation-name: logo;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  .movil .nav-top .navbar-brand img {
    width: 242px;
  }
  @-webkit-keyframes logo {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes logo {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .movil .nav-top .suscript {
    display: none;
  }
  .movil .nav-links {
    position: absolute;
    z-index: 1000;
  }
  .movil .burger {
    width: 35px;
    height: 35px;
    padding-top: 2px;
    cursor: pointer;
  }
  .movil .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .movil .nav-button {
    z-index: 2000;
  }
  .movil .nav-button .nav-links {
    height: 80%;
    width: 100%;
    border-bottom: 0.5px solid #979797;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .movil .nav-button .nav-links li a {
    color: white;
  }
  .movil .nav-button .nav-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .movil .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .movil .toggle .line2 {
    opacity: 0;
  }
  .movil .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media screen and (min-width: 768px) {
  .screen .nav-top {
    height: 110px;
    padding: 15px 20px;
    border-bottom: 0.5px solid #979797;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .screen .nav-top .navbar-brand img {
    width: 534px;
  }
  .screen .nav-top .suscript {
    width: 270px;
    height: 58px;
  }
  .screen .nav-top .suscript h3 {
    font-size: 20px;
    line-height: 18px;
  }
  .screen .nav-top .suscript form .in-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .screen .nav-top .suscript form input {
    width: 213px;
    height: 32px;
    border-radius: 0;
    line-height: 20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 19px;
  }
  .screen .nav-top .suscript form button {
    line-height: 20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
  }
  .screen .burger {
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .screen .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px;
  }
  .screen .nav-button {
    border-bottom: 0.5px solid #979797;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .screen .nav-button ul li :hover {
    color: #EA6852;
  }
  .screen .nav-button .menu-menu-container {
    height: 20px;
    margin: 10px;
  }
  .screen .nav-button .menu-menu-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .screen .nav-button .menu-menu-container ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .screen .nav-button .menu-menu-container ul li a {
    color: black;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .screen .nav-button .menu-menu-container ul li a:hover {
    color: #EA6852;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .screen .nav-button .nav-search {
    width: 20px;
    height: 20px;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .screen .nav-button .nav-search a i {
    color: gray;
  }
}

@media (min-width: 200px) {
  .carousel {
    margin: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel h1 {
    margin: 40px 0;
    text-align: center;
  }
  .carousel .contenedor-titulo-controles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel .contenedor-titulo-controles .indicadores button {
    background-color: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
  }
  .carousel .contenedor-titulo-controles .indicadores button:hover {
    background-color: #EA6852;
  }
  .carousel .contenedor-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .carousel .contenedor-principal .flecha-izquierda {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40;
    border-radius: 60px;
    top: calc(50% - 25%);
    line-height: 35px;
    width: 50px;
    height: 50px;
    color: black;
    z-index: 500;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    left: 5px;
    top: 120px;
  }
  .carousel .contenedor-principal .contenedor-carousel {
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast {
    width: 277px;
    height: 277px;
    margin: 10px;
    -webkit-transition: .6s ease all;
    transition: .6s ease all;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast img {
    vertical-align: top;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  .carousel .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40;
    border-radius: 60px;
    top: calc(50% - 25%);
    line-height: 35px;
    width: 50px;
    height: 50px;
    color: black;
    z-index: 500;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    right: 5px;
    top: 120px;
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    margin: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel h1 {
    text-align: center;
    margin: 30px 0 10px 0;
  }
  .carousel .contenedor-titulo-controles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel .contenedor-titulo-controles .indicadores button {
    background-color: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
  }
  .carousel .contenedor-titulo-controles .indicadores button:hover {
    background-color: #EA6852;
  }
  .carousel .contenedor-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .carousel .contenedor-principal .flecha-izquierda {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40;
    border-radius: 60px;
    top: calc(50% - 25%);
    line-height: 35px;
    width: 50px;
    height: 50px;
    color: black;
    z-index: 500;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    left: 5px;
    top: 140px;
  }
  .carousel .contenedor-principal .contenedor-carousel {
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .cont-pod-car .last-podcast {
    width: 277px;
    height: 277px;
    margin: 10px;
    -webkit-transition: .6s ease all;
    transition: .6s ease all;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .cont-pod-car .last-podcast img {
    vertical-align: top;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .cont-pod-car .last-podcast:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-filter: brightness(1);
            filter: brightness(1);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .cont-pod-car .title-last-podcast {
    margin: 10px;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .cont-pod-car .title-last-podcast h2 {
    font-size: 22px;
    line-height: 20px;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .cont-pod-car .title-last-podcast h2 small {
    font-style: italic;
  }
  .carousel .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40;
    border-radius: 60px;
    top: calc(50% - 25%);
    line-height: 35px;
    width: 50px;
    height: 50px;
    color: black;
    z-index: 500;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    right: 5px;
    top: 140px;
  }
}

@media (min-width: 200px) {
  .lastests {
    width: 100%;
  }
  .lastests h1 {
    text-align: center;
    margin: 30px 0 25px 0;
  }
  .lastests .posts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lastests .posts-container article.post {
    width: 100%;
    margin: 20px;
  }
  .lastests .posts-container article.post:nth-child(1) {
    width: 100%;
  }
  .lastests .posts-container article.post:nth-child(1) hr.division {
    display: block;
    margin-top: 50px;
  }
  .lastests .posts-container article.post:nth-child(1) .post-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lastests .posts-container article.post:nth-child(1) .post-container .text-post {
    width: 100%;
  }
  .lastests .posts-container article.post .post-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lastests .posts-container article.post h2 {
    margin-top: 20px;
  }
  .lastests .posts-container article.post h2 a {
    font-family: 'Cormorant', serif;
    color: black;
    font-size: 28px;
  }
  .lastests .posts-container article.post h2 a:hover {
    color: #EA6852;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .lastests .posts-container article.post .post-meta {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
  }
  .lastests .posts-container article.post .post-meta #text {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
  }
  .lastests .posts-container .the-content p {
    width: 100%;
    margin-top: 20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 22px;
    line-height: 28px;
    color: black;
  }
  .lastests .posts-container .categoria {
    margin-top: 40px;
  }
  .lastests .posts-container a {
    font-size: 22px;
    line-height: 10px;
  }
  .lastests .posts-container hr.division {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .lastests {
    width: 100%;
  }
  .lastests h1 {
    text-align: center;
    margin: 30px 0 25px 0;
  }
  .lastests .posts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lastests .posts-container article.post {
    width: 505px;
    height: 336;
  }
  .lastests .posts-container article.post:nth-child(1) {
    width: 100%;
  }
  .lastests .posts-container article.post:nth-child(1) .post-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lastests .posts-container article.post:nth-child(1) .post-container .text-post {
    width: 505px;
    height: 336px;
    margin-left: 40px;
  }
  .lastests .posts-container article.post h2 {
    margin-top: 20px;
  }
  .lastests .posts-container article.post h2 a {
    font-family: 'Cormorant', serif;
    color: black;
    font-size: 28px;
  }
  .lastests .posts-container article.post h2 a:hover {
    color: #EA6852;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .lastests .posts-container article.post .post-meta {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
  }
  .lastests .posts-container article.post .post-meta #text {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
  }
  .lastests .posts-container .the-content p {
    width: 100%;
    margin-top: 20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 22px;
    line-height: 28px;
    color: black;
  }
  .lastests .posts-container .categoria {
    margin-top: 40px;
  }
  .lastests .posts-container a {
    font-size: 22px;
    line-height: 10px;
  }
}

footer .form-footer {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

footer .form-footer .suscript {
  width: 550px;
  height: 50px;
  background-color: rgba(234, 104, 82, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .form-footer .suscript h3 {
  font-size: 20px;
  line-height: 18px;
  margin: 10px;
}

footer .form-footer .suscript form .in-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .form-footer .suscript form .in-but button {
  line-height: 1px;
  background-color: #EA6852;
  color: white;
}

footer .form-footer .suscript form .in-but button:hover {
  background-color: #EA6852;
  color: white;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.358);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.358);
  -webkit-transition: 2, 2, all, ease;
  transition: 2, 2, all, ease;
}

footer .form-footer .suscript form input {
  width: 213px;
  height: 32px;
  border-radius: 0;
  line-height: 20px;
  font-family: 'Cormorant', serif;
  font-style: italic;
  font-size: 19px;
  margin-right: 10px;
}

footer .form-footer .suscript form button {
  line-height: 20px;
  font-family: 'Cormorant', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
}

footer .site-info {
  height: 190px;
  width: 100%;
  padding: 20px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .site-info .menu-footer-menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .site-info .menu-footer-menu-container ul li a {
  color: white;
  padding: 20px;
}

footer .site-info .menu-footer-menu-container ul li a:hover {
  color: #EA6852;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

footer .site-info p {
  width: 400px;
  text-align: center;
  line-height: normal;
  color: #EA6852;
}

footer .foot {
  height: 42px;
  padding: 5px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .foot p {
  color: white;
}

footer .foot p img {
  margin-bottom: 10px;
}

.page-podcast .podcast-container .articulo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-podcast .podcast-container .articulo a {
  height: 370px;
}

.page-podcast .podcast-container .articulo .text-post {
  width: 500px;
}

.page-podcast .podcast-container .articulo .text-post h2 {
  margin-top: 0;
}

.page-podcast .podcast-container .articulo .text-post h2 a {
  color: black;
  font-size: 26px;
  line-height: -10px;
}

.page-podcast .podcast-container .articulo .text-post h2 a:hover {
  color: #EA6852;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.page-podcast .podcast-container .articulo .text-post h2 a br {
  margin: 0;
}

.page-podcast .podcast-container .articulo .text-post h2 a small {
  color: gray;
  font-style: italic;
  line-height: 0;
}

.page-podcast .podcast-container .articulo hr.division {
  display: block;
  margin-top: 50px;
}

h1.title {
  margin: 30px 0;
}

h1.title a {
  font-size: 38px;
  font-style: normal;
  color: black;
}

.box-main-article.single-art {
  padding: 0;
  margin-left: 100px;
  font-size: 38px;
}

.box-main-article.single-art .art-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.box-main-article.single-art .art-social .side-social {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.box-main-article.single-art .art-social .side-social .caja-social {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

.box-main-article.single-art .art-social .side-social .caja-social i {
  height: 30px;
}

@media (min-width: 200px) {
  article.contactanos {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  article.contactanos .contact .box-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  article.contactanos .contact .box-contact .contacto {
    background-color: rgba(255, 255, 255, 0.9);
  }
  article.contactanos .contact .box-contact .contacto form.contact-form {
    width: 400px;
    padding: 20px;
  }
  article.contactanos .contact .box-contact .contacto form.contact-form .in-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  article.contactanos .contact .box-contact .contacto form.contact-form .in-group input, article.contactanos .contact .box-contact .contacto form.contact-form .in-group textarea {
    margin: auto 0;
    background-color: #f4f4f4;
  }
}

@media screen and (min-width: 992px) {
  article.contactanos .contact .box-contact .contacto form.contact-form {
    width: 597px;
    padding: 20px;
  }
}

@media (min-width: 200px) {
  .box-main-article.main-art {
    padding: 0;
    margin-left: 100px;
    font-size: 38px;
  }
  .box-main-article.main-art .art-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .box-main-article.main-art .art-social .post-container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo {
    width: 370px;
    padding: 5px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo .text-post h2 {
    margin: 20px 0;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo .text-post h2 a {
    color: black;
    font-size: 26px;
    line-height: 1px;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo .text-post h2 a:hover {
    color: #EA6852;
    text-decoration: none;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
  }
  .box-main-article.main-art .art-social .side-social {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .box-main-article.main-art .art-social .side-social .caja-social {
    width: 20px;
    text-align: center;
    margin-right: 10px;
  }
  .box-main-article.main-art .art-social .side-social .caja-social i {
    height: 30px;
  }
}

@media screen and (min-width: 992px) {
  .box-main-article.main-art {
    padding: 0;
    margin-left: 100px;
    font-size: 38px;
  }
  .box-main-article.main-art .art-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .box-main-article.main-art .art-social .post-container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo {
    width: 370px;
    padding: 5px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo:nth-child(1) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo:nth-child(1) a {
    height: 370px;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo:nth-child(1) .text-post {
    width: 370px;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo:nth-child(1) .text-post h2 {
    margin-top: 0;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo:nth-child(1) hr.division {
    display: block;
    margin-top: 50px;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo .text-post h2 {
    margin: 20px 0;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo .text-post h2 a {
    color: black;
    font-size: 26px;
    line-height: 1px;
  }
  .box-main-article.main-art .art-social .post-container .row .articulo .text-post h2 a:hover {
    color: #EA6852;
    text-decoration: none;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
  }
  .box-main-article.main-art .art-social .side-social {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .box-main-article.main-art .art-social .side-social .caja-social {
    width: 20px;
    text-align: center;
    margin-right: 10px;
  }
  .box-main-article.main-art .art-social .side-social .caja-social i {
    height: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Cormorant', serif;
  font-size: 21px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.03em;
}

* p {
  line-height: 1.3em;
}

* h1 {
  font-size: 32px;
}

* h2 {
  font-size: 50px;
}

* h3 {
  font-size: 26px;
  color: black;
}

* h1, * h2, * h3, * h4, * ul, * li, * a, * br {
  line-height: 1.2em;
}

html, body, h1, h2, h3, footer, header, a, p, article {
  color: black;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.in-but button:hover {
  color: #EA6852;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

main a {
  color: gray;
  font-style: italic;
}

main a:hover {
  color: #EA6852;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.sidebar.sidebar-single {
  border-left: solid;
  border-width: 0.5px;
  border-color: #cdcdcd;
  padding-left: 20px;
}

.sidebar.sidebar-single h3 {
  font-size: 26px;
  color: #EA6852;
}

.sidebar.sidebar-single ul li {
  margin-bottom: 10px;
}

.sidebar.sidebar-single ul li a {
  font-size: 20px;
  line-height: 1em;
}
/*# sourceMappingURL=style_PDN.css.map */