* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.in-but button:hover {
  color: #EA6852;
}

body h1 {
  font-size: 32px;
}

body h2 {
  font-size: 28px;
}

main a {
  color: gray;
  font-style: italic;
}

main a:hover {
  color: #EA6852;
  text-decoration: none;
  transition: color 0.4s;
}

@media (min-width: 200px) {
  .movil .nav-top {
    height: 110px;
    padding: 15px;
    border-bottom: 0.5px solid #979797;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .movil .nav-top .navbar-brand {
    display: flex;
    animation-name: logo;
    animation-duration: 2s;
  }
  .movil .nav-top .navbar-brand img {
    width: 242px;
  }
  @keyframes logo {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .movil .nav-top .suscript {
    display: none;
  }
  .movil .nav-links {
    position: absolute;
    z-index: 1000;
  }
  .movil .burger {
    width: 35px;
    height: 35px;
    padding-top: 2px;
    cursor: pointer;
  }
  .movil .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .movil .nav-button {
    z-index: 2000;
  }
  .movil .nav-button .nav-links {
    height: 80%;
    width: 100%;
    border-bottom: 0.5px solid #979797;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .movil .nav-button .nav-links li a {
    color: white;
  }
  .movil .nav-button .nav-active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .movil .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .movil .toggle .line2 {
    opacity: 0;
  }
  .movil .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media screen and (min-width: 768px) {
  .screen .nav-top {
    height: 110px;
    padding: 15px 20px;
    border-bottom: 0.5px solid #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .screen .nav-top .navbar-brand img {
    width: 534px;
  }
  .screen .nav-top .suscript {
    width: 270px;
    height: 58px;
  }
  .screen .nav-top .suscript h3 {
    font-size: 20px;
    line-height: 18px;
  }
  .screen .nav-top .suscript form .in-but {
    display: flex;
  }
  .screen .nav-top .suscript form input {
    width: 213px;
    height: 32px;
    border-radius: 0;
    line-height: 20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 19px;
  }
  .screen .nav-top .suscript form button {
    line-height: 20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
  }
  .screen .burger {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .screen .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px;
  }
  .screen .nav-button {
    border-bottom: 0.5px solid #979797;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .screen .nav-button ul li :hover {
    color: #EA6852;
  }
  .screen .nav-button .menu-menu-container {
    height: 20px;
    margin: 10px;
  }
  .screen .nav-button .menu-menu-container ul {
    display: flex;
  }
  .screen .nav-button .menu-menu-container ul a {
    color: black;
    margin-right: 20px;
    font-size: 16px;
  }
  .screen .nav-button .menu-menu-container ul a:hover {
    color: #EA6852;
    text-decoration: none;
    transition: color 0.2s;
  }
  .screen .nav-button .nav-search {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .screen .nav-button .nav-search i {
    color: gray;
  }
}

@media (min-width: 200px) {
  .carousel {
    margin: 16px;
    background-image: radial-gradient(48% 180%, #212121 44%, #232323 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carousel h1 {
    text-align: center;
    color: white;
  }
  .carousel .contenedor-titulo-controles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel .contenedor-titulo-controles .indicadores button {
    background-color: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
  }
  .carousel .contenedor-titulo-controles .indicadores button:hover {
    background-color: #EA6852;
  }
  .carousel .contenedor-principal {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .carousel .contenedor-principal .flecha-izquierda {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40;
    border-radius: 50px;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: black;
    z-index: 500;
    transition: .2s ease all;
    left: 5px;
    top: 120px;
  }
  .carousel .contenedor-principal .contenedor-carousel {
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast {
    width: 227px;
    margin: 10px;
    transition: .6s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    filter: brightness(0.8);
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast img {
    vertical-align: top;
    border-radius: 10px;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast:hover {
    transform: scale(1.05);
    transform-origin: center;
    filter: brightness(1);
  }
  .carousel .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40;
    border-radius: 50px;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: black;
    z-index: 500;
    transition: .2s ease all;
    right: 5px;
    top: 120px;
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    margin: 16px;
    background-image: radial-gradient(48% 180%, #212121 44%, #232323 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carousel h1 {
    text-align: center;
    color: white;
  }
  .carousel .contenedor-titulo-controles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel .contenedor-titulo-controles .indicadores button {
    background-color: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
  }
  .carousel .contenedor-titulo-controles .indicadores button:hover {
    background-color: #EA6852;
  }
  .carousel .contenedor-principal {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .carousel .contenedor-principal .flecha-izquierda {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40;
    border-radius: 50px;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: black;
    z-index: 500;
    transition: .2s ease all;
    left: 5px;
    top: 120px;
  }
  .carousel .contenedor-principal .contenedor-carousel {
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast {
    width: 227px;
    margin: 10px;
    transition: .6s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    filter: brightness(0.8);
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast img {
    vertical-align: top;
  }
  .carousel .contenedor-principal .contenedor-carousel .carousel .last-podcast:hover {
    transform: scale(1.05);
    transform-origin: center;
    filter: brightness(1);
  }
  .carousel .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 40;
    border-radius: 50px;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: black;
    z-index: 500;
    transition: .2s ease all;
    right: 5px;
    top: 120px;
  }
}

@media (min-width: 200px) {
  .lastests {
    width: 100%;
  }
  .lastests h1 {
    text-align: center;
    border-top: 0.5px solid #979797;
    border-bottom: 0.5px solid #979797;
    margin: 50px 0;
  }
  .lastests .posts-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .lastests .posts-container article.post {
    width: 100%;
    margin: 20px;
  }
  .lastests .posts-container article.post:nth-child(1) {
    width: 100%;
  }
  .lastests .posts-container article.post:nth-child(1) hr.division {
    display: block;
    margin-top: 50px;
  }
  .lastests .posts-container article.post:nth-child(1) .post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .lastests .posts-container article.post:nth-child(1) .post-container .text-post {
    width: 100%;
  }
  .lastests .posts-container article.post .post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .lastests .posts-container article.post h2 {
    margin-top: 20px;
  }
  .lastests .posts-container article.post h2 a {
    font-family: 'Cormorant', serif;
    color: black;
    font-size: 28px;
  }
  .lastests .posts-container article.post h2 a:hover {
    color: #EA6852;
    text-decoration: none;
    transition: color 0.2s;
  }
  .lastests .posts-container article.post .post-meta {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
  }
  .lastests .posts-container article.post .post-meta #text {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
  }
  .lastests .posts-container .the-content p {
    width: 100%;
    margin-top: 20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 22px;
    line-height: 28px;
    color: black;
  }
  .lastests .posts-container .categoria {
    margin-top: 40px;
  }
  .lastests .posts-container a {
    font-size: 22px;
    line-height: 10px;
  }
  .lastests .posts-container hr.division {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .lastests {
    width: 100%;
  }
  .lastests h1 {
    text-align: center;
    border-top: 0.5px solid #979797;
    border-bottom: 0.5px solid #979797;
    margin: 50px 0;
  }
  .lastests .posts-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .lastests .posts-container article.post {
    width: 505px;
    height: 336;
  }
  .lastests .posts-container article.post:nth-child(1) {
    width: 100%;
  }
  .lastests .posts-container article.post:nth-child(1) .post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .lastests .posts-container article.post:nth-child(1) .post-container .text-post {
    width: 505px;
    height: 336px;
    margin-left: 40px;
  }
  .lastests .posts-container article.post h2 {
    margin-top: 20px;
  }
  .lastests .posts-container article.post h2 a {
    font-family: 'Cormorant', serif;
    color: black;
    font-size: 28px;
  }
  .lastests .posts-container article.post h2 a:hover {
    color: #EA6852;
    text-decoration: none;
    transition: color 0.2s;
  }
  .lastests .posts-container article.post .post-meta {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
  }
  .lastests .posts-container article.post .post-meta #text {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
  }
  .lastests .posts-container .the-content p {
    width: 100%;
    margin-top: 20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 22px;
    line-height: 28px;
    color: black;
  }
  .lastests .posts-container .categoria {
    margin-top: 40px;
  }
  .lastests .posts-container a {
    font-size: 22px;
    line-height: 10px;
  }
}

@media (min-width: 200px) {
  footer .form-footer {
    height: 448px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  footer .site-info {
    height: 168px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .site-info .menu-footer-menu-container ul {
    display: flex;
    justify-self: center;
  }
  footer .site-info .menu-footer-menu-container ul li a {
    color: white;
    padding: 20px;
  }
  footer .site-info .menu-footer-menu-container ul li a:hover {
    color: #EA6852;
    text-decoration: none;
    transition: color 0.2s;
  }
  footer .site-info p {
    width: 400px;
    text-align: center;
    line-height: normal;
    color: #EA6852;
  }
  footer .foot {
    height: 42px;
    padding: 5px;
    background-color: #333333;
    display: flex;
    justify-content: center;
  }
  footer .foot p {
    color: white;
  }
  footer .foot p img {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 992px) {
  footer .form-footer {
    padding: 20px;
  }
  footer .form-footer .suscript.form-foot {
    width: 400px;
    padding: 20px;
    background-color: rgba(234, 104, 82, 0.15);
  }
  footer .site-info p {
    width: 550px;
  }
}

article.single-article {
  margin: 0;
  padding: 0;
  border-right: 0.5px solid #bbbbbb;
}

.post-single {
  padding: 0;
  margin-left: 100px;
}

.post-single .art-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.post-single .art-social .side-social {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.post-single .art-social .side-social .caja-social {
  width: 20px;
  text-align: center;
}

.post-single .art-social .side-social .caja-social i {
  height: 30px;
}

.sidebar-single {
  margin-right: 20px;
}

@media (min-width: 200px) {
  article.contactanos {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  article.contactanos .contact .box-contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  article.contactanos .contact .box-contact .contacto {
    background-color: rgba(255, 255, 255, 0.9);
  }
  article.contactanos .contact .box-contact .contacto form.contact-form {
    width: 400px;
    padding: 20px;
  }
  article.contactanos .contact .box-contact .contacto form.contact-form .in-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article.contactanos .contact .box-contact .contacto form.contact-form .in-group input, article.contactanos .contact .box-contact .contacto form.contact-form .in-group textarea {
    margin: auto 0;
    background-color: #f4f4f4;
  }
}

@media screen and (min-width: 992px) {
  article.contactanos .contact .box-contact .contacto form.contact-form {
    width: 597px;
    padding: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Cormorant', serif;
  font-size: 21px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.03em;
}

* p {
  line-height: 1.5em;
}

* h1, * h2, * h3, * h4, * ul, * li, * a, * br {
  line-height: 1.2em;
}

html, body, h1, h2, h3, footer, header, a, p, article {
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.in-but button:hover {
  color: #EA6852;
}

body h1 {
  font-size: 32px;
}

body h2 {
  font-size: 28px;
}

main a {
  color: gray;
  font-style: italic;
}

main a:hover {
  color: #EA6852;
  text-decoration: none;
  transition: color 0.4s;
}
/*# sourceMappingURL=style_PDN.css.map */