

main{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}