@mixin flechas {
    position: absolute;
    border: none;
    background-color:rgba($color: #ffffff, $alpha: 0.3);
    font-size: 40;
    border-radius: 60px;
    top: calc(50% - 25%);
    line-height: 35px;
    width: 50px;
    height: 50px;
    color: black;
    z-index: 500;
    transition: .2s ease all;
    
}

// Query Smartphone
@media (min-width: $break-extrasmall){
    .carousel{
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            margin: 40px 0;
            text-align: center;
        }
        .contenedor-titulo-controles{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .indicadores{
                button{
                    background-color: white;
                    height: 3px;
                    width: 10px;
                    cursor: pointer;
                    border: none;
                    &:hover{
                        background-color: #EA6852
                    }
                }
            }
        }
        .contenedor-principal{
            display: flex;
            justify-content: center;
            position: relative;
            .flecha-izquierda{
                @include flechas;
                left: 5px;
                top: 120px;
            }
            .contenedor-carousel{
                padding: 10px 0;
                overflow: hidden;
                scroll-behavior: smooth;
                .carousel{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .last-podcast{
                        width: 277px;
                        height: 277px;
                        margin: 10px;
                        transition: .6s ease all;
                        filter: brightness(0.8);
                        img{
                            vertical-align: top; 
                        }
                    }
                    .last-podcast:hover{
                        transform: scale(1.01);
                        transform-origin: center;
                        filter: brightness(1.0);
                    }
                }
            }
            .flecha-derecha{
                @include flechas;
                right: 5px;
                top: 120px;
            }
        }
    }
}



// Query Screen
@media screen and (min-width: $break-medium){
    .carousel{
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            text-align: center;
            margin: 30px 0 10px 0;
        }
        .contenedor-titulo-controles{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .indicadores{
                button{
                    background-color: white;
                    height: 3px;
                    width: 10px;
                    cursor: pointer;
                    border: none;
                    &:hover{
                        background-color: #EA6852
                    }
                }
            }
        }
        .contenedor-principal{
            display: flex;
            justify-content: center;
            position: relative;
            .flecha-izquierda{
                @include flechas;
                left: 5px;
                top: 140px;
            }
            .contenedor-carousel{
                padding: 10px 0;
                overflow: hidden;
                scroll-behavior: smooth;
                .carousel{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-left: 0;
                    .cont-pod-car{
                        .last-podcast{
                            // width: 277px;
                            height: 277px;
                            margin: 10px;
                            transition: .6s ease all;
                            filter: brightness(0.8);
                            img{
                                vertical-align: top; 
                            }
                            &:hover{
                                transform: scale(1.01);
                                transform-origin: center;
                                filter: brightness(1.0);
                                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                            }
                        }
                        .title-last-podcast{
                            margin: 10px;
                            h2{
                                font-size: 22px;
                                line-height: 20px;
                                small{
                                    font-style: italic;
                                }
                            }
                        }
                    }
                }
            }
            .flecha-derecha{
                @include flechas;
                right: 5px;
                top: 140px;
            }
        }
    }
}