@media (min-width: $break-extrasmall){

    footer{
        // height: 656px;
        // line-height: 25px;
        // font-weight: lighter;
        .form-footer{
            height: 448px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .site-info{
            height: 168px;
            width: 100%;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .menu-footer-menu-container{
                ul{
                    display: flex;
                    justify-self: center;
                    li{
                        a{
                            color: white;
                            padding: 20px;
                            &:hover{
                                color: #EA6852;
                                text-decoration: none;
                                transition: color 0.2s;
                            }
                        }
                    }
                }
            }
            p{
                width: 400px;
                text-align: center;
                line-height: normal;
                color: #EA6852;
            }
        }
        .foot{
            height: 42px;
            padding: 5px;
            background-color: rgb(51, 51, 51);
            display: flex;
            justify-content: center;
            p{
                color: white;
                img{
                    margin-bottom: 10px;
                }
            }
        }
    }
}


@media screen and (min-width: $break-large){
    footer{
        .form-footer{
        padding: 20px;
            .suscript.form-foot{
                width: 400px;
                padding: 20px;
                background-color: rgba(234, 104, 82, 0.15) ;
            }
        }
        .site-info{
            p{
                width: 550px;
            }
        }
    }
}

