@mixin flechas {
    position: absolute;
    border: none;
    background-color:rgba($color: #ffffff, $alpha: 0.3);
    font-size: 40;
    border-radius: 50px;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: black;
    z-index: 500;
    transition: .2s ease all;
    
}

main{
    width: 100%;
    min-height: 400px;
    margin: 10px 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
        text-align: center;
        color: white;
    }
    .contenedor-titulo-controles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .indicadores{
            button{
                background-color: white;
                height: 3px;
                width: 10px;
                cursor: pointer;
                border: none;
                &:hover{
                    background-color: #EA6852
                }
            }
        }
    }
    .contenedor-principal{
        display: flex;
        justify-content: center;
        position: relative;
        .flecha-izquierda{
            @include flechas;
            left: 0;
            top: 120px;
        }
        .contenedor-carousel{
            padding: 10px 0;
            overflow: hidden;
            scroll-behavior: smooth;
            .carousel{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .last-podcast{
                    height: 285px;
                    width: 227px;
                    margin: 10px;
                    transition: .3s ease all;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                    img{
                        vertical-align: top; 
                    }
                }
                .last-podcast:hover{
                    transform: scale(1.1);
                    transform-origin: center;
                }
            }
        }
        .flecha-derecha{
            @include flechas;
            right: 0;
            top: 120px;
        }
    }
}
